<ion-header>
  <ion-navbar color="primary">
    <ion-title >{{dispPageTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="toggleMenu();">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #container>
<div *ngFor="let i of listNews">
  <ion-item (click)="newsDisplay(i.newsID,i.newsTitle,i.newsComments,i.n_loc)">
    <!-- Campus beat Slide -->
    <ion-thumbnail item-left *ngIf=" i.newsImage != ''">
      <img [defaultImage]="'../assets/imgs/lazyDaijiLogo.png'" [lazyLoad]="i.newsImage" [scrollObservable]="container.ionScroll" />
    </ion-thumbnail>
    <h2 [innerHTML]="i.newsTitle" text-wrap>{{i.newsTitle}}</h2>
    <p><i class="fa fa-clock-o"></i>&nbsp;{{i.newsDate}}&nbsp;
      <span *ngIf="i.newsComments !=0">
        <i class="fa fa-comments-o colorRed"></i>
        <span class="colorRed" [innerHTML]="i.newsComments"></span>
      </span>
    </p>
  </ion-item>
</div>
<div *ngIf="newsMode==='exclusive'" >
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
</ion-infinite-scroll>
</div>
</ion-content>
