<ion-header>
  <ion-navbar color="primary">
    <ion-title>Cricket</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="toggleMenu();">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar mode="md" color="primary">
    <ion-segment #segments mode="md" [(ngModel)]="page" color="light">
      <ion-segment-button value="0" (click)="selectedTab(0)">
        Recent
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectedTab(1)">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="2" (click)="selectedTab(2)">
        Live
      </ion-segment-button>
      <ion-segment-button value="3" style="word-wrap: break-word; width: auto" (click)="selectedTab(3)">
        IPL Standings
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content #container >
  <ion-slides #slider (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <ion-list padding>
        <div *ngIf="isHideRecentMatch">
          <h6 style="color:red;text-align: center;">
            No Recent Match Available
          </h6>
        <br></div>
        <div *ngFor="let r of recentJson">
          <div class="tile" (click)="goToScoreCard(r.match_id)">
            <div class="wrapper">
              <h4 class="text-center compTitle colorPink">{{r.competition.title}},&nbsp;{{r.competition.season}}</h4>
              <div class="stats">
                <div style="padding:10px;">
                  <strong>
                    <!-- <img src="{{r.teama.logo_url}}" style="height:50px;width:50px;" class="img-circle" alt="Avatar"> -->
                    <img src="{{iplLogo(r.teama.name,r.teama.logo_url)}}" style="height:50px;width:50px;" class="img-circle"
                      alt="Avatar">
                  </strong> {{r.teama.scores_full}}
                </div>
                <div style="text-align: center;vertical-align: middle;line-height: 100px; ">
                  <b>Vs</b>
                </div>
                <div style="padding:10px;">
                  <strong>
                    <img src="{{iplLogo(r.teamb.name,r.teamb.logo_url)}}" style="height:50px;width:50px;" class="img-circle"
                      alt="Avatar">
                  </strong>{{r.teamb.scores_full}}
                </div>
              </div>
              <p class="txtPadding" padding-left>
                {{convertDate(r.date_start)}} - {{convertDate(r.date_end)}} at {{r.venue.name}},
                {{r.venue.location}}
              </p>
              <h4 class="compTitle colorPink">{{r.status_note}}</h4>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list padding>
        <div *ngIf="isHideUpcomingMatch">
          <h6 style="color:red;text-align: center;">
            No Upcoming Match Available
          </h6><br>
        </div>
        <div *ngFor="let u of upcomingJson">
          <div class="tile">
            <div class="wrapper">
              <h4 class="text-center compTitle colorPink">{{u.competition.title}},&nbsp;{{u.competition.season}}</h4>
              <div class="stats">
                <div style="padding:10px;">
                  <strong>
                    <img src="{{iplLogo(u.teama.name,u.teama.logo_url)}}" style="height:50px;width:50px;" class="img-circle"
                      alt="Avatar">
                  </strong> {{u.teama.scores_full}}
                </div>
                <div style="text-align: center;vertical-align: middle;line-height: 75px; ">
                  <b>Vs</b>
                </div>
                <div style="padding:10px;">
                  <strong>
                    <img src="{{iplLogo(u.teamb.name,u.teamb.logo_url)}}" style="height:50px;width:50px;" class="img-circle"
                      alt="Avatar">
                  </strong>{{u.teamb.scores_full}}
                </div>
              </div>
              <p class="txtPadding">{{convertDate(u.date_start)}} - {{convertDate(u.date_end)}} at {{u.venue.name}},
                {{u.venue.location}}</p>
              <h4 class="compTitle colorPink">{{u.status_note}}</h4>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list padding>
        <div *ngIf="isHideLiveMatch"> 
          <h6 style="color:red;text-align: center;">
            No Live Match Available
          </h6><br>
        </div>
        <div *ngFor="let l of liveJson">
          <div class="tile" (click)="goToScoreCard(l.match_id)">
            <div class="wrapper">
              <h4 class="text-center compTitle colorPink">{{l.competition.title}},&nbsp;{{l.competition.season}}</h4>
              <div class="stats">
                <div style="padding:10px;">
                  <strong>
                    <img src="{{iplLogo(l.teama.name,l.teama.logo_url)}}" style="height:50px;width:50px;" class="img-circle"
                      alt="Avatar">
                  </strong> {{l.teama.scores_full}}
                </div>
                <div style="text-align: center;vertical-align: middle;line-height: 100px; ">
                  <b>Vs</b>
                </div>
                <div style="padding:10px;">
                  <strong>
                    <img src="{{iplLogo(l.teamb.name,l.teamb.logo_url)}}" style="height:50px;width:50px;" class="img-circle"
                      alt="Avatar">
                  </strong>{{l.teamb.scores_full}}
                </div>
              </div>
              <p class="txtPadding">{{convertDate(l.date_start)}} - {{convertDate(l.date_end)}} at {{l.venue.name}},
                {{l.venue.location}}</p>
              <h4 class="compTitle colorPink">{{l.status_note}}</h4>
            </div>
          </div>
        </div>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list padding>
        <table width="100%">
          <tr>
            <th text-center colspan="2">Teams</th>
            <th text-center>P</th>
            <th text-center>W</th>
            <th text-center>L</th>
            <th text-center>D</th>
            <th text-center>NR</th>
            <th text-center>PTS</th>
            <th text-center>NRR</th>
          </tr>
          <tr *ngFor="let ipl of iplJson" style="border-bottom: 1px solid #eeeeee;">
            <img style="width: 25px;height: 25px;" [src]="iplLogo(ipl.team.title)" />
            <td>{{ipl.team.abbr}}</td>
            <td text-center>{{ipl.played}}</td>
            <td text-center>{{ipl.win}}</td>
            <td text-center>{{ipl.loss}}</td>
            <td text-center>{{ipl.draw}}</td>
            <td text-center>{{ipl.nr}}</td>
            <td text-center>{{ipl.points}}</td>
            <td text-center>{{ipl.netrr}}</td>
          </tr>
        </table>
      </ion-list>
    </ion-slide>

  </ion-slides>
</ion-content>